header{
    background-image: url("../imgs/background.svg");
    background-size: cover;
    height: 600px;
    .nav_container{
        width: 100%;
        top: 0;
        

        nav{
            width: 1322px;
            height: 104px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            a{
                color: black;
                text-decoration: none;
                
            }
            
        }
    }

}